[submodule "themes/elephants"]
	path = themes/elephants
	url = https://gitlab.com/meibenny/elephants.git
[submodule "public"]
	path = public
	url = git@github.com:DhritiShikhar/DhritiShikhar.github.io.git
	branch = master
[submodule "DhritiShikhar.github.io"]
	path = DhritiShikhar.github.io
	url = https://github.com/DhritiShikhar/DhritiShikhar.github.io.git
	branch = master
